<!-- <!DOCTYPE html>
{%load static %}
<html>

    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/login.css' %}">
        <link href="{% static 'assets/img/favicon1.png' %}" rel="icon">

        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <img class="wave" src='{% static "assets/img/wave.png" %}'>
        <div class="container">
            <div class="img">
                <img src='{% static "assets/img/bg.svg" %}'>
            </div>


            <div class="login-content">
                <form action="{% url 'pass_reset' %}" method="POST">

                    {% csrf_token %}
                    <img src='{% static "assets/img/avatar.svg" %}'>
                    <h2 class="title">Welcome</h2>
                    {% if messages %}
                    {% for message in messages %}
                    <p style="color: red; margin-top: -20px;">{{message }}</p>
                    {% endfor %}
                    {% endif %}
                    <div class="input-div one">
                        <div class="i">
                            <i style="color: black;" class="fas fa-user"></i>
                        </div>
                        <div class="div">
                            <input type="text" id="username" autocomplete="off" name="username" class="input"
                                placeholder="Confirmation code">
                        </div>
                    </div>
                    <div class="input-div one">
                        <div class="i">
                            <i style="color: black;" class="fas fa-lock"></i>
                        </div>
                        <div class="div">
                            <input type="password" id="password" autocomplete="off" name="new password" class="input"
                                placeholder="New password">
                        </div>
                    </div>
                    <div class="input-div pass">
                        <div class="i">
                            <i style="color: black;" class="fas fa-check-circle"></i>
                        </div>
                        <div class="div">
                            <input autocomplete="off" type="password" id="password" name="Confirm password"
                                class="input" placeholder="Confirm password">
                        </div>
                    </div>

                    <input type="submit" name="" class="btn" value="Submit">
                </form>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>

    </body>

</html> -->